div {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor-flex1 {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}
  
.column1, .column2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 170px;
    justify-content: flex-start;   
    margin-bottom: 20px;
}

.column2{
    align-items: center;
}

div > input {
    margin: 15px;
}

button[class="editar"]{
<<<<<<< HEAD
=======
    width: 50px;
>>>>>>> c408f0d2b7441e63ba823fc145abf22730ba0dfd
    align-self: flex-end;
    margin-right: 17px;
}

button[class="limpiar"]{
<<<<<<< HEAD
=======
    width: 50px;
>>>>>>> c408f0d2b7441e63ba823fc145abf22730ba0dfd
    align-self: flex-start;
   margin-top: 2px;
}
